<p class="text-center">
    Done {{doneCount}} of {{todos.length}}
</p>

<app-reactive-add-todo-form 
    (newTodoEvent)="addTodo($event)">
</app-reactive-add-todo-form>

<div *ngIf="todos.length == 0">
    <p class="text-center font-weight-light">Create your first Todo now!</p>
</div>

<ol *ngFor="let t of todos let i = index" class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div *ngIf="!t.beingEdit">
            <div class="ms-3 me-auto">
                <div class="content {{t.completed ? 'done' : ''}}">
                    {{i+1}}. {{ t.content }}
                </div>
            </div>
    
            <button class="btn btn-sm completed btn-success" (click)="toggleDone(i)">
                <i class="bi bi-check-circle"></i>
            </button>
            <button class="btn btn-sm completed btn-warning" (click)="toggleBeingEdit(i)">
                <i class="bi bi-pencil-square"></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteTodo(i)">
                <i class="bi bi-trash-fill"></i>
            </button>
        </div>

        <div *ngIf="t.beingEdit">
            <div class="ms-3 me-auto">
                <div class="content">
                    <input type="text" [(ngModel)]="t.content"/>
                </div>
            </div>
    
            <button class="btn btn-sm completed btn-success" (click)="toggleBeingEdit(i)">
                <i class="bi bi-save"></i>
            </button>
        </div>

    </li>
</ol>
